<div *ngIf="!selectedEmployee">
  <h2>Sorry can't find the requested employee...</h2>
</div>
<div *ngIf="selectedEmployee">
  <h2>Here are details of the employee {{selectedEmployee.employeeNumber}}</h2>
  <div class="row">
    <div class="col-3">Date Of Birth:</div>
    <div class="col-9">{{ selectedEmployee.dateOfBirth }}</div>
  </div>
  <div class="row">
    <div class="col-3">City:</div>
    <div class="col-9">{{ selectedEmployee.city }}</div>
  </div>
  <div class="row">
    <div class="col-3">Salary:</div>
    <div class="col-9">{{ selectedEmployee.salary }}</div>
  </div>
  <div class="row" [hidden]="!selectedEmployee.gender">
    <div class="col-3">Gender:</div>
    <div class="col-9">{{ selectedEmployee.gender }}</div>
  </div>
  <div class="row" [hidden]="!selectedEmployee.email">
    <div class="col-3">Email:</div>
    <div class="col-9">{{ selectedEmployee.email }}</div>
  </div>
</div>